Hi <%= @user.name%>
</br>
I send you a list of the product you have ordered
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_products.each do |order_product| %>
        <tr>
          <td><%= order_product.product.name%></td>
          <td><%= order_product.product.price%></td>
          <td><%= order_product.product.description%></td>
          <td><%= order_product.first.quantity%></td>
        </tr>
      <% end %>
    </tbody>
</table>
