Hi #{@user.name}

= t('i_send_you_a_list_of_the_product_you_have_ordered')
%table.table
  %thead
    %tr
      %th= t('name')
      %th= t('price')
      %th= t('description')
      %th= t('quantity')
  %tbody
    - @order.order_products.each do |order_product|
      %tr
        %td= order_product.product.name
        %td= order_product.product.price
        %td= order_product.product.description
        %td= order_product.quantity
