.container
  %h2 Order confirm
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Description
        %th Quantity
    %tbody
      - @cart.cart_products.each do |cart_product|
        %tr
          %td= cart_product.product.name
          %td= cart_product.product.price
          %td= cart_product.product.description
          %td= cart_product.quantity
= link_to "Order confirm ", order_confirm_path(id: @cart.id), method: :post
