.container
  %h2= t('order_confirm')
  %table.table
    %thead
      %tr
        %th= t('name')
        %th= t('price')
        %th= t('description')
        %th= t('quantity')
    %tbody
      - @cart.cart_products.each do |cart_product|
        %tr
          %td= cart_product.product.name
          %td= cart_product.product.price
          %td= cart_product.product.description
          %td= cart_product.quantity
= link_to t('order_confirm'), order_confirm_path(id: @cart.id), method: :post
